body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
}

.named-things {
  padding: 1em;
  margin: 1em;
  background-color: #EEE;
  border: 1px solid #CCC;
}

.selectable-list li:hover {
  background-color: #DDD;
}
.selectable-list .selected,
.selectable-list .selected:hover {
  background-color: #CCC;
}
