body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
}

.named-things {
  padding: 1em;
  margin: 1em;
  background-color: #EEE;
  border: 1px solid #CCC;
}

.selectable-list li:hover {
  background-color: #DDD;
}
.selectable-list .selected,
.selectable-list .selected:hover {
  background-color: #CCC;
}

.user-detail {
  border-top: 1px solid #DDD;
  margin-bottom: 0.5em;
}
.user-detail .email {
  font-size: 80%;
}

.message {
  border-top: 1px solid #DDD;
  /*border-left: 2px solid #DDD;*/
  margin-bottom: 0.5em;
}
.message .from {
  font-size: 120%;
}
.message .when {
  font-size: 60%;
}
